<div>
    <mat-card class="cronometro-regressivo">
        <mat-card-title class="titulo"><mat-icon>alarm_on</mat-icon>Cronômetro</mat-card-title>
        <mat-card-content class="tempo" [style]="corFundoTempo">
            <span>{{formatTime(segundos)}}</span>
        </mat-card-content>
        <mat-card-actions class="botoes">
            <div class='row'>
                <div class="col">
                    <button mat-fab (click)="toggleTimer()">
                        @if(!tempoContando){
                            <mat-icon>play_arrow</mat-icon>
                        }@else{
                            <mat-icon>pause</mat-icon>  
                        }
                    </button>
                </div>
                <div class="col">
                    <button mat-fab [disabled]="tempoZerado" (click)="resetTimer()">
                        <mat-icon>replay</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
