<div class="container-fluid">
  <div class="row" id="espera" >
    <!-- coluna 1 - banco de jogadores -->
    <div class="col-sm-3">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title> Lista de Espera </mat-card-title>
            <mat-card-subtitle>Jogadores que estão aguardando sua vez</mat-card-subtitle>
          </mat-card-header>
          <!-- campo para incluir jogador -->
          <div class="row">
            <mat-form-field class="field-nome-jogaodr">
            <mat-label>Nome do jogador</mat-label>
            <input matInput type="text" [(ngModel)]="inputNomeJogador">
            @if (inputNomeJogador) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="incluirJogadorListaEspera(inputNomeJogador)">
                <mat-icon>add</mat-icon>
              </button>
            }
            </mat-form-field>
          </div>
          <!-- botao para escalar time faltante da partida -->
          <div class="row">
            <div class="col">
              @if (this.timeFaltaEscalar !== 0 ) {
                <button mat-fab extended (click)="incluirTimePartida(this.timeFaltaEscalar, jogadoresEspera.selectedOptions.selected)">
                  Escalar
                  <mat-icon>rocket_launch</mat-icon>
                </button>              
              }
            </div>
          </div>
          <!-- lista de jogadores cadastrados na lista de espera -->
          <div>
            <p>
              Selecionados: <b>{{jogadoresEspera.selectedOptions.selected.length}}</b>
            </p>
            <mat-selection-list #jogadoresEspera>
              @for (jogadorEspera of listaEspera; track jogadorEspera) {
                <mat-list-option>{{jogadorEspera}}</mat-list-option>
              }
            </mat-selection-list>
          </div>
          <mat-card-actions>
            <div class="row sm-12">
              <div class="col">
                <button mat-mini-fab [disabled]="naoPodeEmbaralhar" (click)="embaralharListaEspera()">
                  <mat-icon>shuffle</mat-icon>
                </button>
              </div>
              <div class="col">
                @if(jogadoresEspera.selectedOptions.selected.length > 0){
                  <button mat-mini-fab (click)="excluirJogadorListaEspera(jogadoresEspera.selectedOptions.selected)">
                    <!-- <mat-icon>delete_forever</mat-icon> -->
                    <mat-icon>person_remove</mat-icon>
                  </button>
                }               
              </div>
              <div class="col">
                @if(jogadoresEspera.selectedOptions.selected.length > 0){
                  <button mat-mini-fab (click)="incluirTimePartida(1, jogadoresEspera.selectedOptions.selected)">
                    <mat-icon>looks_one</mat-icon>
                  </button>
                }             
              </div>
              <div class="col">
                @if(jogadoresEspera.selectedOptions.selected.length > 0){
                  <button mat-mini-fab (click)="incluirTimePartida(2, jogadoresEspera.selectedOptions.selected)">
                    <mat-icon>looks_two</mat-icon>
                  </button>
                }             
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
    </div>
      <!-- coluna 2 - partida -->
    <div class="col-sm-9">
      <mat-card appearance="outlined">  
      <mat-card-header style="align-self: center;">
        <mat-card-title> Partida </mat-card-title>
      </mat-card-header>
      <!-- times da partida -->
      <div class="row">
        <div class="col-sm-6">
          <mat-card appearance="raised">
            <mat-card-header style="align-self: center;">
              <mat-card-title style="text-align: center;"> Primeiro Time </mat-card-title>
              <mat-card-subtitle style="text-align: center; font-size: 45px;">{{placarPrimeiroTime}}</mat-card-subtitle>
            </mat-card-header> 
              <div class="row">
                <mat-list #jogadoresPrimeiroTime>
                  @for (jogadorPrimeiroTime of listaPrimeiroTime; track jogadorPrimeiroTime) {
                    <mat-list-item>
                      <div class="row sm-12">
                        <div class="col-sm-8">{{jogadorPrimeiroTime}} </div>
                        <div class="col-sm-4">
                          <button mat-icon-button [disabled]="desabilitaEventoPartida" (click)="incluirEventoPartida('gol',jogadorPrimeiroTime, 1)">
                            <mat-icon>sports_soccer</mat-icon>
                          </button>
                          <button mat-icon-button [disabled]="desabilitaEventoPartida" (click)="incluirEventoPartida('assistencia',jogadorPrimeiroTime, 1)">
                            <!-- <mat-icon>room_service</mat-icon> -->
                            <mat-icon>handshake</mat-icon>
                          </button>
                          <button mat-icon-button (click)="openDialogExclusaoPartida(1, jogadorPrimeiroTime)">
                            <!-- <mat-icon>playlist_remove</mat-icon> -->
                            <mat-icon>person_remove</mat-icon>
                          </button>
                        </div>
                      </div>
                    </mat-list-item>
                  }
                </mat-list>

              </div>
              <div class="row" style="align-self: center;">
                <div class="col">
                  @if(this.timeFaltaEscalar === 0){
                    <button mat-fab extended (click)="incluirVitoriaPartida(1)">
                      Vitória
                    <mat-icon>star</mat-icon>
                    </button>
                  }
                </div>
              </div>
          </mat-card>
        </div>
        
        <div class="col-sm-6">
          <mat-card appearance="raised">
            <mat-card-header style="align-self: center;">
              <mat-card-title style="text-align: center;"> Segundo Time </mat-card-title>
              <mat-card-subtitle style="text-align: center; font-size: 45px;">{{placarSegundoTime}}</mat-card-subtitle>              
            </mat-card-header> 
              <div class="row">
                <mat-list #jogadoresSegundoTime>
                  @for (jogadorSegundoTime of listaSegundoTime; track jogadorSegundoTime) {
                    <mat-list-item>
                      <div class="row sm-12">
                        <div class="col-sm-7">{{jogadorSegundoTime}} </div>
                        <div class="col-sm-5">
                          <button mat-icon-button [disabled]="desabilitaEventoPartida" (click)="incluirEventoPartida('gol',jogadorSegundoTime, 2)">
                            <mat-icon>sports_soccer</mat-icon>
                          </button>
                          <button mat-icon-button [disabled]="desabilitaEventoPartida" (click)="incluirEventoPartida('assistencia',jogadorSegundoTime, 2)">
                            <!-- <mat-icon>volunteer_activism</mat-icon> -->
                            <mat-icon>handshake</mat-icon>
                          </button>
                          <button mat-icon-button (click)="openDialogExclusaoPartida(2, jogadorSegundoTime)">
                            <mat-icon>person_remove</mat-icon>
                          </button>
                        </div>
                      </div>
                    </mat-list-item>
                  }
                </mat-list>
              </div>
              <div class="row" style="align-self: center;">
                <div class="col">
                  @if(this.timeFaltaEscalar === 0){
                    <button mat-fab extended (click)="incluirVitoriaPartida(2)">
                      Vitória 
                    <mat-icon>star</mat-icon>
                    </button>
                  }
                </div>
              </div>
          </mat-card>
        </div>
      </div>
      <div class="row" style="align-self: center;">
        <app-cronometro></app-cronometro>
      </div>

      </mat-card>    
    </div>
  </div>
  <!-- linha da tabela de estatistica -->
  <!-- <div class="row col-sm-6">
    <mat-card appearance="outlined">
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="nomeJogador">
          <mat-header-cell *matHeaderCellDef> Jogador </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nomeJogador}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="gol">
          <mat-header-cell *matHeaderCellDef> Gols </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.quantidadeGol}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="assistencia">
          <mat-header-cell *matHeaderCellDef> Assistências </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.quantidadeAssistencia}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="vitoria">
          <mat-header-cell *matHeaderCellDef> Vitórias </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.quantidadeVitoria}}</mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="colunasEstatisticaJogador"></mat-header-row>
        <mat-row *matRowDef="let row; columns: colunasEstatisticaJogador;"></mat-row>
      </mat-table>
    </mat-card>
  </div> -->
  <div class="row col-sm-12">
    <mat-card appearance="outlined">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
        <ng-container matColumnDef="nomeJogador">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Jogador </th>
          <td mat-cell *matCellDef="let element"> {{element.nomeJogador}} </td>
        </ng-container>
      
        <ng-container matColumnDef="quantidadeGol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Gols </th>
          <td mat-cell *matCellDef="let element"> {{element.quantidadeGol}} </td>
        </ng-container>
      
        <ng-container matColumnDef="quantidadeAssistencia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Assistências </th>
          <td mat-cell *matCellDef="let element"> {{element.quantidadeAssistencia}}</td>
        </ng-container>

        <ng-container matColumnDef="quantidadeVitoria">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Vitórias </th>
          <td mat-cell *matCellDef="let element"> {{element.quantidadeVitoria}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="colunasEstatisticaJogador"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasEstatisticaJogador;"></tr>
      </table>
    </mat-card>
  </div>
</div>
